$white: hsl(0,0,100%);
$darkpurple: hsl(251, 70%, 11%);
$mediumpurple: hsl(251, 68%, 24%);
$lightpurple: hsl(251, 54%, 42%);
$purple: hsl(313, 85%, 34%);
$vpurple: hsl(331, 86%, 49%);
$rosepink: hsl(323, 85%, 79%);

$mainfont: "Oxygen", sans-serif;
$font-weights: (
    "regular": 400,
    "bold": 700
)