$white: hsl(0,0,100%);
$darkpurple: hsl(251, 68%, 24%);
$purple: hsl(313, 85%, 34%);
$vpurple: hsl(331, 86%, 49%);
$rosepink: hsl(323, 85%, 79%);
$blurcolor: rgba(119, 136, 153, 0.3);
$mainfont: "Oxygen", sans-serif;
$font-weights: (
    "regular": 400,
    "bold": 700
)